.btnPlayGame {
    font-family: 'Black Han Sans', sans-serif;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin: 30px auto 0px auto;
}


.btnPlayGame:hover {
    cursor: pointer;
    color: #ffffff;
    border: #ffffff solid 1.5px;
    border-radius: 10px;
    background-color: #1b1b1b;
}

.mainPage {
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: center;
}

.mainGameIntro {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    color: white;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.mainGameIntro:hover {
    background-color: white;
    color: black;
}
