@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@800&display=swap');

.bodyProfile {
    background-image: url("../assets/blackbox.jpg"), url("../assets/background.jpg");
    background-size: 45%, cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 90vh;
  }


.profileContent {
    position: relative;
    top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.profileContent h1 {
    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 0.1rem;
}

.btnLogOut {
    font-family: 'Black Han Sans', sans-serif;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btnLogOut:hover {
    cursor: pointer;
    color: #ffffff;
    border:#ffffff solid 1.5px;
    border-radius: 10px;
    background-color: #1b1b1b;
}