.welcomeBody {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-width: 1920px;
}

.welcome {
  color: black;
  text-align: center;
  padding-top: 80px;
}

.welcome h1 {
  font-family: "Black Han Sans", sans-serif;
  font-weight: normal;
  font-size: 4rem;
}

.welcome h2 {
  font-family: "Black Han Sans", sans-serif;
  font-weight: normal;
  font-size: 2.3rem;
}

.mainLogo {
  margin: 5px;
  width: 600px;
  display: inline-block;
}

.authSelector {
  display: inline-block;
}

.auth{
  margin-top: 20px;
  display: inline-flex;
}

.authForm {
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.authForm input {
  height: 30px;
  font-size: 1rem;
}

.authSelector button {
  display: inline-block;
  width: 250px;
  height: 40px;
}

.loginError {
  margin-top: 20px;
  width: 1000px;
  text-align: center;
  color: orangered;
}
