@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@800&display=swap');

.gameStartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnPlayGame {
    font-family: 'Black Han Sans', sans-serif;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 30px;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btnPlayGame:hover {
    cursor: pointer;
    color: #ffffff;
    border:#ffffff solid 1.5px;
    border-radius: 10px;
    background-color: #1b1b1b;
}

.gameBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoardContent {
    position: relative;
    width: 750px;
    height: 660px;
    background-image: url(./../assets/line_blackbox.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 750px 660px;
    color: white;
    padding:30px;
    box-sizing: border-box;
}

.gameBoardContentHeader {
    width: 100%;
    height: 31px;
}

.gameBoardContentHeader h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0px;
    padding-left: 35px;
    float: left;
}

.gameBoardContentHeader h2 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2em;
    float: right;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: 30px;
    width: 160px;
    height: 35px;
    text-align: center;
    color: rgb(37, 37, 37);
    background-color: white;
    border-radius: 5px;
    letter-spacing: -0.02rem;
    display: inline;
    line-height: 35px;
}

.criminalInfo {
    width:45%;
    margin:32px auto 0;
}

.img-wrapper {
    position: relative;
    width: 100%;
    height: 376px;
    overflow: hidden;
  }

.img-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.criminalInfo h3 {
    background-color: rgb(26, 26, 26);
    width: 100%;
    border: 0.5px solid #fff;
    text-align: center;
    margin-block-start: 0;
    line-height: 2rem;
    margin-block-end: 0;
    box-sizing: border-box;
}

/*game board 2*/

.twoCriminalsWrapper{
    position:relative;
    top: 23px;
    width: 100%;
    height: auto;
    margin: 0px auto;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.criminalWrapper{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.criminalWrapper img{
    width: 100%;
    margin: auto;
    display: block;

}

.btnCriminals {
    width: 260px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.btnCriminals:hover {
    cursor: pointer;
    color: #ffffff;
    border: #ffffff solid 1.5px;
    border-radius: 10px;
    background-color: #1b1b1b;
}

.criminalWrapper h3{
    background-color: rgb(26, 26, 26);
    width: 100%;
    border: 0.5px solid #fff;
    text-align: center;
    line-height: 2.5rem;
    box-sizing: border-box;
}

/*.btn button.result p {
    /* 폰트 컬러 변경 
}

.btn button.notResult p {

}*/

.btn {
    width: 70%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
}

.btn button.result i {
    background-image:url(./../assets/icon_o.svg) !important;
}

.btn button.notResult i {
    background-image:url(./../assets/icon_x.svg) !important;
}

.btn button > i {
    display: inline-block;
    width: 25px;
    height: 25px; 
    background-image: url(./../assets/icon_check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    vertical-align: middle;
}

.btn button > i:hover {
    display: inline-block;
    width: 25px;
    height: 25px; 
    background-image: url(./../assets/icon_check_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    vertical-align: middle;
}

.btn button > p {
    position: relative;
    top: 1px;
    display: inline-block;
    margin-left: 8px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    line-height: 1.2rem;
}

.btnLeft {
    font-family: 'Gothic A1', sans-serif;
    width: 220px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.btnRight {
    font-family: 'Gothic A1', sans-serif;
    width: 220px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 30px;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}