.gameResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.gameResult h1 {
    position: relative;

    font-family: 'Black Han Sans', sans-serif;
    letter-spacing: 0.1rem;
}

.gameResultTable {
    font-size: 1.3rem;
    text-align: center;
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

.gameResultTable tr {
    border-bottom: 1px solid white;
}

.gameResultTable td {
    width: 100px;
    padding: 30px;
}

.gameResultData {
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 0.1rem;
}

.btnGoHome {
    font-family: 'Black Han Sans', sans-serif;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
    color: #000000;
    border: #000000 solid 1.5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    transition-duration: 0.2s;
}

.btnGoHome:hover {
    cursor: pointer;
    color: #ffffff;
    border:#ffffff solid 1.5px;
    border-radius: 10px;
    background-color: #1b1b1b;
}