.rankingBody {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  max-width: 1920px;
}

.rankingContent {
  width: 630px;
  color: white;
  box-sizing: border-box;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rankingTitle {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 0.1rem;
  color: white;
}

.ranking_eachUser{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid white;
}

.ranking_eachUser .ranking_number{
  width : 20%;
  text-align: center;
}

.ranking_eachUser .ranking_userName{
  width : 40%;
  padding-left: 30px;
}

.ranking_eachUser .ranking_userPoint{
  width : 20%;
  text-align: center;
}

.ranking_eachUser .ranking_userLevel{
  width : 20%;
  text-align: center;
}