.rankingBody {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: max-content;
  max-width: 1920px;
}

.rankingContent {
  width: 700px;
  color: white;
  box-sizing: border-box;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rankingTitle {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 0.1rem;
  color: white;
}

.ranking_table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ranking_table tr {
  border-bottom: 2px solid white;
}

.ranking_table th {
  text-align: left;
  padding: 5px 15px 5px 15px;
}

.ranking_table th:nth-child(1) {
  padding-left: 18px;
  width: 10%;
}

.ranking_table th:nth-child(2) {
  width: 50%;
}

.ranking_table th:nth-child(3) {
  width: 20%;
}

.ranking_table th:nth-child(4) {
  width: 10%;
}

.ranking_eachUser td {
  padding: 20px 25px;
  border-bottom: 1px solid white;
}

.ranking_eachUser td:nth-child(1) {
  width: 10%;
}

.ranking_eachUser td:nth-child(2) {
  width: 50%;
}

.ranking_eachUser td:nth-child(3) {
  text-align: center;
  width: 20%;
}

.ranking_eachUser td:nth-child(4) {
  width: 10%;
}
