.naviContainer {
    background-image: url("../assets/header.jpg");
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.naviLeftContainer {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    position: fixed;
    left: 5rem;
}

.logo {
    height: 80px;
}