.naviContainer {
    background-image: url("../assets/header.jpg");
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.naviSideContainer .navLink {
    padding: 1rem;
}

.naviContainer .logo {
    height: 150px;
}