.navContainer {
    background-image: url("../assets/header.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.navLeftContainer {
    display: flex;
    max-width: 300px;
    position: fixed;
    left: 0;
}

.navContainer .logo {
    height: 80px;
}