body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 400px;
  object-fit: cover;
}



.gameBoard{
  border : 1px solid black;
  text-align: center;
  padding: 30px 0 50px 0;
}

.ranking_table{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.ranking_eachUser{
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.ranking_userName{
  width : 70%;
  text-align: left;
}

.ranking_userPoint{
  width: 30%;
  text-align: center;
}

.ranking_userLevel{
  width: 40%;
  text-align: center;
}

.body {
  background-image: url("./assets/header.jpg");
  padding: 40px 0;
  height:100vh;
}